// Descriptive color valuables

$grey: #777;
$color-prim: #58e1c1;
$color-sec: #51ddfc;
$white: #fff;
$light-grey: #ccc;


$button-default-color: #51ddfc;
$button-error-color: #e4757a;
$button-info-color: #927bc1;
$button-success-color: #63cc82;
$button-warning-color: #fd7856;


// Font family

$main-font: 'Lato', sans-serif;


// Media queries

$brk-point: 768px;