/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $white;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @include media-query {
    padding: 10px 30px;
  }

  &+.btn {
    @media (min-width: $brk-point) {
      margin-left: 10px;
    }
  }
}

@each $name,
$button-color in $button-colors {
  .#{$name} {
    background-color: $button-color;
  }

  &.#{$name}:hover {
    background-color: lighten($button-color, 15%);
    transition: background-color .5s ease-in;
  }
}