/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
  &-avatar {
    @include basic-display;
    @include img-margin-width;
    max-height: 100%;
  }

  &-frame {
    @include basic-display;
    @include img-margin-width;
    padding: 13px;
    border: 1px solid $light-grey;
  }

  &-logo {
    @include basic-display;

  }

}


@include media-query  {

  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}